## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(["EIN", "NAME"], axis=1)

In [3]:
# Determine the number of unique values in each column.
unique_value_counts = application_df.nunique()

print(unique_value_counts)

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [4]:
# Look at APPLICATION_TYPE value counts for binning
application_type_counts = application_df["APPLICATION_TYPE"].value_counts()

print(application_type_counts)

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [5]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
cutoff_value = 500  # You can adjust this value based on your preference

application_type_counts = application_df["APPLICATION_TYPE"].value_counts()

application_types_to_replace = list(application_type_counts[application_type_counts < cutoff_value].index)

# Replace in dataframe
for app in application_types_to_replace:
    application_df["APPLICATION_TYPE"] = application_df["APPLICATION_TYPE"].replace(app,"Other")

# Check to make sure binning was successful
application_df["APPLICATION_TYPE"].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [6]:
# Look at CLASSIFICATION value counts for binning
classification_counts = application_df["CLASSIFICATION"].value_counts()

print(classification_counts)

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [7]:
# You may find it helpful to look at CLASSIFICATION value counts >1
classification_counts = application_df["CLASSIFICATION"].value_counts()

classification_counts_greater_than_1 = classification_counts[classification_counts > 1]

print(classification_counts_greater_than_1)

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [8]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
cutoff_value = 100  # You can adjust this value based on your preference

classification_counts = application_df["CLASSIFICATION"].value_counts()

classifications_to_replace = list(classification_counts[classification_counts < cutoff_value].index)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df["CLASSIFICATION"] = application_df["CLASSIFICATION"].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df["CLASSIFICATION"].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
Other      669
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
Name: CLASSIFICATION, dtype: int64

In [9]:
# Convert categorical data to numeric with `pd.get_dummies`
application_df = pd.get_dummies(application_df)

print(application_df.head())

   STATUS  ASK_AMT  IS_SUCCESSFUL  APPLICATION_TYPE_Other  \
0       1     5000              1                       0
1       1   108590              1                       0
2       1     5000              0                       0
3       1     6692              1                       0
4       1   142590              1                       0

   APPLICATION_TYPE_T10  APPLICATION_TYPE_T19  APPLICATION_TYPE_T3  \
0                     1                     0                    0
1                     0                     0                    1
2                     0                     0                    0
3                     0                     0                    1
4                     0                     0                    1

   APPLICATION_TYPE_T4  APPLICATION_TYPE_T5  APPLICATION_TYPE_T6  ...  \
0                    0                    0                    0  ...
1                    0                    0                    0  ...
2                    0                    1                    0  ...
3                    0                    0                    0  ...
4                    0                    0                    0  ...

   INCOME_AMT_1-9999  INCOME_AMT_10000-24999  INCOME_AMT_100000-499999  \
0                  0                       0                         0
1                  1                       0                         0
2                  0                       0                         0
3                  0                       1                         0
4                  0                       0                         1

   INCOME_AMT_10M-50M  INCOME_AMT_1M-5M  INCOME_AMT_25000-99999  \
0                   0                 0                       0
1                   0                 0                       0
2                   0                 0                       0
3                   0                 0                       0
4                   0                 0                       0

   INCOME_AMT_50M+  INCOME_AMT_5M-10M  SPECIAL_CONSIDERATIONS_N  \
0                0                  0                         1
1                0                  0                         1
2                0                  0                         1
3                0                  0                         1
4                0                  0                         1

   SPECIAL_CONSIDERATIONS_Y
0                         0
1                         0
2                         0
3                         0
4                         0

[5 rows x 50 columns]

In [10]:
# Split our preprocessed data into our features and target arrays
X = application_df.drop(columns=["IS_SUCCESSFUL"])
y = application_df["IS_SUCCESSFUL"]

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

print("X_train shape:", X_train.shape)
print("X_test shape:", X_test.shape)
print("y_train shape:", y_train.shape)
print("y_test shape:", y_test.shape)

X_train shape: (27439, 49)
X_test shape: (6860, 49)
y_train shape: (27439,)
y_test shape: (6860,)

In [11]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [12]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
hidden_layer1_nodes = 64 
hidden_layer2_nodes = 32

nn = tf.keras.models.Sequential()

input_features = X_train.shape[1]

# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_layer1_nodes, activation="relu", input_dim=input_features))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_layer2_nodes, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 64)                3200

 dense_1 (Dense)             (None, 32)                2080

 dense_2 (Dense)             (None, 1)                 33

=================================================================
Total params: 5313 (20.75 KB)
Trainable params: 5313 (20.75 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [13]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [14]:
# Train the model
nn.fit(X_train, y_train, epochs=50, batch_size=64, validation_data=(X_test, y_test))

Epoch 1/50
429/429 [==============================] - 1s 2ms/step - loss: 54305.9648 - accuracy: 0.4949 - val_loss: 20531.3281 - val_accuracy: 0.4659
Epoch 2/50
429/429 [==============================] - 1s 1ms/step - loss: 13108.8291 - accuracy: 0.4916 - val_loss: 1824.4197 - val_accuracy: 0.5341
Epoch 3/50
429/429 [==============================] - 0s 1ms/step - loss: 34606.1719 - accuracy: 0.4959 - val_loss: 89350.7188 - val_accuracy: 0.5341
Epoch 4/50
429/429 [==============================] - 0s 1ms/step - loss: 32246.6133 - accuracy: 0.4884 - val_loss: 58744.7461 - val_accuracy: 0.4659
Epoch 5/50
429/429 [==============================] - 1s 1ms/step - loss: 21046.2461 - accuracy: 0.5178 - val_loss: 747.1135 - val_accuracy: 0.5086
Epoch 6/50
429/429 [==============================] - 0s 1ms/step - loss: 28317.9395 - accuracy: 0.5154 - val_loss: 4221.3862 - val_accuracy: 0.4659
Epoch 7/50
429/429 [==============================] - 0s 1ms/step - loss: 14008.5703 - accuracy: 0.5292 - val_loss: 28061.1211 - val_accuracy: 0.4659
Epoch 8/50
429/429 [==============================] - 0s 1ms/step - loss: 25152.7285 - accuracy: 0.4879 - val_loss: 26344.1426 - val_accuracy: 0.4659
Epoch 9/50
429/429 [==============================] - 0s 1ms/step - loss: 13052.7168 - accuracy: 0.5119 - val_loss: 476.4607 - val_accuracy: 0.5341
Epoch 10/50
429/429 [==============================] - 0s 1ms/step - loss: 4289.7393 - accuracy: 0.5110 - val_loss: 158.3122 - val_accuracy: 0.5222
Epoch 11/50
429/429 [==============================] - 0s 1ms/step - loss: 8089.0674 - accuracy: 0.5100 - val_loss: 3675.6995 - val_accuracy: 0.4659
Epoch 12/50
429/429 [==============================] - 0s 1ms/step - loss: 13068.7598 - accuracy: 0.5024 - val_loss: 1230.4678 - val_accuracy: 0.4659
Epoch 13/50
429/429 [==============================] - 1s 1ms/step - loss: 2019.4515 - accuracy: 0.5074 - val_loss: 4322.9517 - val_accuracy: 0.5341
Epoch 14/50
429/429 [==============================] - 1s 1ms/step - loss: 1798.8635 - accuracy: 0.5109 - val_loss: 1153.0485 - val_accuracy: 0.6175
Epoch 15/50
429/429 [==============================] - 1s 1ms/step - loss: 8292.3203 - accuracy: 0.4941 - val_loss: 18365.1777 - val_accuracy: 0.4659
Epoch 16/50
429/429 [==============================] - 0s 1ms/step - loss: 7917.7173 - accuracy: 0.4972 - val_loss: 2861.0403 - val_accuracy: 0.4659
Epoch 17/50
429/429 [==============================] - 0s 1ms/step - loss: 4739.5547 - accuracy: 0.4935 - val_loss: 4825.6152 - val_accuracy: 0.4659
Epoch 18/50
429/429 [==============================] - 0s 1ms/step - loss: 540.7434 - accuracy: 0.5006 - val_loss: 348.2606 - val_accuracy: 0.5054
Epoch 19/50
429/429 [==============================] - 0s 1ms/step - loss: 2826.4963 - accuracy: 0.5196 - val_loss: 795.3378 - val_accuracy: 0.5341
Epoch 20/50
429/429 [==============================] - 0s 1ms/step - loss: 2607.0139 - accuracy: 0.4914 - val_loss: 242.5379 - val_accuracy: 0.5032
Epoch 21/50
429/429 [==============================] - 0s 1ms/step - loss: 6220.5039 - accuracy: 0.5095 - val_loss: 911.6725 - val_accuracy: 0.5341
Epoch 22/50
429/429 [==============================] - 0s 1ms/step - loss: 4657.4468 - accuracy: 0.4943 - val_loss: 309.8494 - val_accuracy: 0.5341
Epoch 23/50
429/429 [==============================] - 0s 1ms/step - loss: 2438.7690 - accuracy: 0.5122 - val_loss: 3115.4265 - val_accuracy: 0.4659
Epoch 24/50
429/429 [==============================] - 0s 1ms/step - loss: 6242.3159 - accuracy: 0.4915 - val_loss: 18007.9453 - val_accuracy: 0.5341
Epoch 25/50
429/429 [==============================] - 0s 1ms/step - loss: 5491.9004 - accuracy: 0.5117 - val_loss: 387.8732 - val_accuracy: 0.5060
Epoch 26/50
429/429 [==============================] - 0s 1ms/step - loss: 2454.6611 - accuracy: 0.5250 - val_loss: 689.1702 - val_accuracy: 0.5917
Epoch 27/50
429/429 [==============================] - 0s 1ms/step - loss: 3006.3643 - accuracy: 0.5065 - val_loss: 295.5606 - val_accuracy: 0.5341
Epoch 28/50
429/429 [==============================] - 0s 1ms/step - loss: 1793.1567 - accuracy: 0.5362 - val_loss: 776.9057 - val_accuracy: 0.5001
Epoch 29/50
429/429 [==============================] - 0s 1ms/step - loss: 754.8199 - accuracy: 0.5267 - val_loss: 2878.2073 - val_accuracy: 0.5341
Epoch 30/50
429/429 [==============================] - 0s 1ms/step - loss: 636.7803 - accuracy: 0.5283 - val_loss: 1896.5756 - val_accuracy: 0.4659
Epoch 31/50
429/429 [==============================] - 0s 1ms/step - loss: 1053.7253 - accuracy: 0.5355 - val_loss: 34.6528 - val_accuracy: 0.5341
Epoch 32/50
429/429 [==============================] - 0s 1ms/step - loss: 362.5587 - accuracy: 0.5327 - val_loss: 2117.3887 - val_accuracy: 0.5341
Epoch 33/50
429/429 [==============================] - 0s 1ms/step - loss: 668.1639 - accuracy: 0.5283 - val_loss: 69.7064 - val_accuracy: 0.5058
Epoch 34/50
429/429 [==============================] - 0s 1ms/step - loss: 259.2413 - accuracy: 0.5338 - val_loss: 11.4172 - val_accuracy: 0.5176
Epoch 35/50
429/429 [==============================] - 0s 1ms/step - loss: 31.6464 - accuracy: 0.5486 - val_loss: 170.3181 - val_accuracy: 0.6146
Epoch 36/50
429/429 [==============================] - 0s 1ms/step - loss: 347.8182 - accuracy: 0.5440 - val_loss: 46.2338 - val_accuracy: 0.5074
Epoch 37/50
429/429 [==============================] - 0s 1ms/step - loss: 50.3474 - accuracy: 0.5242 - val_loss: 1.8346 - val_accuracy: 0.5341
Epoch 38/50
429/429 [==============================] - 0s 1ms/step - loss: 5.6783 - accuracy: 0.5788 - val_loss: 0.6452 - val_accuracy: 0.6182
Epoch 39/50
429/429 [==============================] - 0s 1ms/step - loss: 0.6368 - accuracy: 0.6320 - val_loss: 0.6448 - val_accuracy: 0.6179
Epoch 40/50
429/429 [==============================] - 0s 1ms/step - loss: 0.6361 - accuracy: 0.6332 - val_loss: 0.6441 - val_accuracy: 0.6198
Epoch 41/50
429/429 [==============================] - 0s 1ms/step - loss: 0.6349 - accuracy: 0.6370 - val_loss: 0.6425 - val_accuracy: 0.6274
Epoch 42/50
429/429 [==============================] - 0s 1ms/step - loss: 0.6340 - accuracy: 0.6398 - val_loss: 0.6417 - val_accuracy: 0.6284
Epoch 43/50
429/429 [==============================] - 0s 1ms/step - loss: 0.6332 - accuracy: 0.6406 - val_loss: 0.6398 - val_accuracy: 0.6316
Epoch 44/50
429/429 [==============================] - 0s 1ms/step - loss: 0.6321 - accuracy: 0.6428 - val_loss: 0.6401 - val_accuracy: 0.6369
Epoch 45/50
429/429 [==============================] - 0s 1ms/step - loss: 0.6319 - accuracy: 0.6462 - val_loss: 0.6395 - val_accuracy: 0.6372
Epoch 46/50
429/429 [==============================] - 0s 1ms/step - loss: 0.6315 - accuracy: 0.6475 - val_loss: 0.6388 - val_accuracy: 0.6389
Epoch 47/50
429/429 [==============================] - 0s 1ms/step - loss: 0.6309 - accuracy: 0.6481 - val_loss: 0.6399 - val_accuracy: 0.6386
Epoch 48/50
429/429 [==============================] - 1s 1ms/step - loss: 0.6307 - accuracy: 0.6481 - val_loss: 0.6379 - val_accuracy: 0.6391
Epoch 49/50
429/429 [==============================] - 1s 1ms/step - loss: 0.6307 - accuracy: 0.6484 - val_loss: 0.6379 - val_accuracy: 0.6373
Epoch 50/50
429/429 [==============================] - 0s 1ms/step - loss: 0.6303 - accuracy: 0.6482 - val_loss: 0.6385 - val_accuracy: 0.6373

In [15]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

215/215 - 0s - loss: 2.1972 - accuracy: 0.5338 - 213ms/epoch - 991us/step
Loss: 2.197218656539917, Accuracy: 0.5338192582130432

In [16]:
# Export our model to HDF5 file
model_filename = "model.h5"  

nn.save(model_filename)

C:\Users\justi\anaconda3\lib\site-packages\keras\src\engine\training.py:3000: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(